{% extends "::layout.html.twig" %}

{% block navbar_form %}

{% endblock %}

{% block path %}
    <li class="active">
        Accueil
    </li>
{% endblock %}

{% block contenu %}

    <p>Sélectionnez une rubrique ci-dessus.</p>

{% endblock %}
