<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block titre_onglet %}Projet Web{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('platform_homepage') }}">Projet Web</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('platform_albums') }}">Albums</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Musiciens<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Instruments</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Interprètes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Compositeurs</a></li>
                        </ul>
                    </li>
                </ul>
                {% block navbar_form %}

                {%endblock%}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                Projet web <span>Site de e-commerce</span>
            </h1>
        </div>
        

    <div class="col-md-12">
        <ul class="breadcrumb">
            {% block path %}
            
            {% endblock %}
        </ul>
    </div>



    <h2>{% block titre_page %}Accueil{% endblock %}</h2>

    {% block contenu %}

    {%endblock%}

    </div>
</div>

    <footer>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>
