{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}
    Albums - {{ parent() }}
{% endblock %}

{% block albums %}
        {% for album in listAlbums %}
        <li>{{ album.annéeAlbum}}</li>
        {% endfor %}
{% endblock %}
